<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>StringSmash.py</string>
			<key>preferredName</key>
			<string>StringSmash</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Bela Frank</string>
	<key>developerURL</key>
	<string>http://belafrank.com</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>StringSmash</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>6</string>
	<key>timeStamp</key>
	<real>1430091265.368973</real>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
